.App {
  text-align: center;
}
.movie-container {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
/*  align-items: center;
  justify-content: center;*/
  height: 600px;
  width: 650px;
}